Repository bazelbuild/rules_pkg, changes with the owners that CODEOWNERS names for each.
All owners: @aiuto, @cgrindel, @meteorcloudy, @nacl, @dannysullivan

CODEOWNERS:

* @aiuto @cgrindel

/.bazelci/	@meteorcloudy
/.bcr/		@meteorcloudy
/.github/	@meteorcloudy
/.pre-commit-config.yaml	@meteorcloudy

/deb_packages/  @aiuto
/docs/		@aiuto
/doc_build/	@aiuto

/pkg/rpm/		@nacl
/pkg/tests/rpm/		@nacl
/legacy/tests/rpm	@nacl
/toolchains/rpm		@nacl

/pkg/deb.bzl		@aiuto @dannysullivan
/pkg/private/deb/	@aiuto @dannysullivan
/pkg/tests/deb/		@aiuto @dannysullivan

bump version to 1.2 because 1.1 is released (#977)
  MODULE.bazel
  version.bzl
Owners: @aiuto, @cgrindel

Update doc in the correct place
  pkg/private/tar/tar.bzl
Owners: @aiuto, @cgrindel

Revert "Document pkg_tar.extension."
  docs/latest.md
Owners: @aiuto

Implement pkg_install(symlink)
  pkg/private/install.py.tpl
  tests/install/BUILD
  tests/install/test.py
Owners: @aiuto, @cgrindel

fix use of cc_binary in the test because things changed under us
  tests/rpm/BUILD
Owners: @aiuto, @cgrindel

old python on buildkit
  pkg/private/install.py.tpl
Owners: @aiuto, @cgrindel

revert unintentional python reformating
  tests/install/test.py
Owners: @aiuto, @cgrindel

Update pkg/private/install.py.tpl
  pkg/private/install.py.tpl
Owners: @aiuto, @cgrindel

Implement pkg_install(symlink) (#979)
  pkg/private/install.py.tpl
  tests/install/BUILD
  tests/install/test.py
  tests/rpm/BUILD
Owners: @aiuto, @cgrindel

Fix Windows file locking issue in `pkg_install`
  pkg/private/install.py.tpl
Owners: @aiuto, @cgrindel

Implement pkg_install(symlink) also for pkg_zip
  pkg/private/zip/build_zip.py
  tests/zip/BUILD
  tests/zip/symlink_util.bzl
  tests/zip/zip_test.py
  tests/zip/zip_test_lib.py
Owners: @aiuto, @cgrindel

Fix Windows file locking issue in `pkg_install` (#983)
  pkg/private/install.py.tpl
Owners: @aiuto, @cgrindel

Make `pkg_install` work without runfiles (Windows default)
  .bazelci/tests.yml
  pkg/install.bzl
  pkg/private/install.py.tpl
  tests/install/test.py
Owners: @meteorcloudy, @aiuto, @cgrindel

Update pkg_deb to use ctx.action.args() for building the command line. This has better UTF-8 fidelity.
  pkg/private/deb/deb.bzl
  pkg/private/deb/make_deb.py
Owners: @aiuto, @dannysullivan

rebase to current head
  pkg/private/deb/deb.bzl
Owners: @aiuto, @dannysullivan

restord droped lines from merge
  pkg/private/deb/deb.bzl
Owners: @aiuto, @dannysullivan

linty
  pkg/private/deb/deb.bzl
Owners: @aiuto, @dannysullivan

Strip internal test fake repository for MODULE.bazel in distribution. (#976)
  BUILD
  MODULE.bazel
  distro/BUILD
Owners: @aiuto, @cgrindel
